/*
 * mod_yt_float_social.css - mod_yt_float_social - YT Float Social by YesTheme
 * ------------------------------------------------------------------------
 *   Author     YesTheme http://yestheme.com
 *   Copyright (C) 2008 - 2013 YesTheme.com. All Rights Reserved.
 *   @license   http://www.gnu.org/licenses/gpl-2.0.html GNU/GPL
 *   Websites   http://yestheme.com
 * ------------------------------------------------------------------------
 */

.fb-copyright,
.fb-copyright a,
.fb-copyright a:visited,
.fb-copyright a:active {
    color: #808080 !important;
    font-size: 9px !important;
    background: none !important;
    font-family: 'lucida grande', Tahoma, Verdana, Arial, sans-serif !important;
    text-decoration: none;
}
.fb-copyright {
    padding-left: 10px;
}
.fb-copyright a:hover {
    text-decoration: underline;
}

.tw-copyright,
.tw-copyright a,
.tw-copyright a:visited,
.tw-copyright a:active {
    color: #707070 !important;
    background: none !important;
    font: 12px/16px "Helvetica Neue",Arial,sans-serif !important;
    text-decoration: none;
}
.tw-copyright {
    padding-left: 10px;
}
.tw-copyright a:hover {
    text-decoration: underline;
}

.pin-copyright,
.pin-copyright a,
.pin-copyright a:visited,
.pin-copyright a:active {
    color: #746D6A !important;
    background: none !important;
    font: 11px "Helvetica Neue",Arial,sans-serif !important;
    text-decoration: none;
}
.pin-copyright {
    padding-left: 10px;
}
.pin-copyright a,
.pin-copyright a:visited,
.pin-copyright a:active {
    font-weight: bold !important;
}
.pin-copyright a:hover {
    text-decoration: underline;
}
#yt-float-social-icon:hover {
    cursor: pointer;
}